<div>
    <h1>¡Hola {{name}}, estoy usando handlebars en home</h1>
    <hr>
</div>
<div>
    <p></p>
</div>

<script src="socket.io/socket.io.js" ></script>
<script src="js/realtimeproducts.js" ></script>